form {
  background-color: rgb(70, 70, 70);
  padding: 40px 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
form h1 {
  margin: 0;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}
.inputTask {
  width: 220px;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.addTaskBtn:hover {
  opacity: 0.82;
}
.addTaskBtn {
  margin-bottom: 40px;
  background-color: rgb(22, 58, 96);
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.tasks-filter {
  width: 140px;
  text-align: center;
  border-radius: 5px;
  border: 1px black solid;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1024px) {
  .inputTask {
    width: 138px;
  }
}
